### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Build ###
build/
out/
logs/
*.log

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### VS Code ###
.vscode/

### Spring Boot ###
application-*.yml
application-*.properties

### OS files ###
.DS_Store
Thumbs.db

### Others ###
HELP.md
